$standardShadow: 0px 5px 15px 0.5px RGBA(7, 29, 73, 0.075);

$standardTransition: 0.2s ease;

$primaryColor: rgba(48, 83, 220, 1);

$secondaryColor: rgba(88, 185, 238, 1);

$gray: rgba(34, 34, 34, 1);

$darkerGray: rgba(26, 26, 26, 1);

$black: rgba(18, 18, 18, 1);
