$standardShadow: 0 0.5rem 0.75rem rgba(88, 185, 238, 0.5);

$standardTransition: 0.15s ease;

$standardTransform: translateY(-0.3rem);

$standardRadius: 0.5rem;

$primaryColor: rgba(48, 83, 220, 1);

$secondaryColor: rgba(88, 185, 238, 1);

$gray: rgba(34, 34, 34, 1);

$darkGray: rgba(26, 26, 26, 1);

$darkerGray: rgba(18, 18, 18, 1);

$standardGradient01: linear-gradient(
  280deg,
  $primaryColor 0%,
  $secondaryColor 100%
);

$standardGradient02: linear-gradient(
  0deg,
  $primaryColor 0%,
  $secondaryColor 100%
);

$standardGradient03: linear-gradient(
  90deg,
  $primaryColor 0%,
  $secondaryColor 100%
);
